---
import Layout from '../layouts/Layout.astro';
import ProfileSection from '../components/ProfileSection.astro';
import CareerTimeline from '../components/CareerTimeline.astro';
---

<Layout title="About Me - Adrian Page">
    <main class="container mx-auto px-4">
        <ProfileSection />
        <CareerTimeline />
    </main>
</Layout>